<meta charset="utf-8">
<html>
    <head>
        <title>coinlab@1.0.1.0309_main page</title>
    </head>
    <body>
        <header>
            <logo></logo>
            <menus>
                <ul>
                    <li>설정</li>
                    <li>결제</li>
                    <li>투자내역</li>
                    <li>튜토리얼???</li>
                </ul>
            </menus>
            <float-right>
                <coins>
                    <ul>
                        <li><name>bitmex</name><price>9999</price></li>
                        <li><name>bitmex</name><price>9999</price></li>
                        <li><name>bitmex</name><price>9999</price></li>
                        <li><name>bitmex</name><price>9999</price></li>
                    </ul>
                </coins>
                <users>userinfo</users>
            </float-right>
        </header>

        <row>
            <charts></charts>
            <prices></prices>
        </row>
        <row>
            <order>
                <label>지갑잔고</label>
                <div>1234 XBT</div>

                <label>주문가능잔고</label>
                <div>1234 XBT</div>

                <label>주문가</label>
                <input type=text>
                <div>=123456원</div>

                <label>수량</label>
                <input type=text>
                <button>+10000</button>
                <button>+20000</button>
                <button>+50000</button>
                <button>+100000</button>

                <button>매수</button>
                <button>매도</button>
            </order>
            <auto>
                <table>
                    <thead>
                        <td>포착일시</td>
                        <td>종목</td>
                        <td>포착후수익률</td>
                        <td>수량</td>
                        <td>매수/매도</td>
                    </thead>
                    <tbody>
                        <tr>
                            <td>2020-01-01 오전2:02:02</td>
                            <td>XBTUSD</td>
                            <td>10.35%</td>
                            <td>40000 USD</td>
                            <td><button>매수</button></td>
                        </tr>

                    </tbody>
                </table>
            </auto>
            <myPosition>
                <rows>
                    <rows>

                        <cols>
                            <label>규모</label>
                            <div>
                                <div>-6000USD</div>
                                <div>=0.065 XBT</div>
                            </div>
                        </cols>

                        <cols>
                            <label>평가손익</label>
                            <div>
                                <div>0.0006 XBT</div>
                                <div>(10.38%)</div>
                            </div>
                        </cols>

                    </rows>

                    <rows>
                        <cols>
                            <label>레버리지</label>
                            <div>분리/20X</div>
                        </cols>

                        <cols>
                            <div>스크롤?</div>
                        </cols>
                    </rows>

                    <rows>
                        <rows>
                            <label>당일 실현손익</label>
                            <div>0.0233 XBT</div>
                        </rows>
                        <rows>
                            <label>누적 실현손익</label>
                            <div>0.0233 XBT</div>
                        </rows>
                        <rows>
                            <label>기간별 실현손익<div>(19.01.01~20.12.301</div></label>
                            <div>0.0233 XBT</div>
                        </rows>
                    </rows>

                </rows>
                <rows>

                </rows>
                <rows>

                </rows>
            </myPosition>
        </row>
        <row>
            <limit></limit>
            <orders></orders>
            <chat></chat>
        </row>
        <footer>

        </footer>
    </body>
</html>